name: Build and Test

on:
  push:
    branches:
      - main # Specify the branch you want to trigger the workflow on

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
      working-directory: my_python_project

    - name: Run unit tests
      run: |
        python -m unittest discover tests
      working-directory: my_python_project

    - name: Notify on failure
      if: failure()
      run: |
        echo "Tests failed! Sending notification..."
        python .github/send_email.py
      env:
        GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}

